/*-- scss:defaults --*/
$crimson: #A51C30;
$blue: #4e88c7;

$primary: $blue !default;

/*-- scss:rules --*/
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  vertical-align: top;
  padding: 0px;
}
th, td {
  background-color: #96D4D4;
} 

.small_body_table tbody {
  font-size: 9pt;
}

.small_body_table table, td, th {
  padding-top: 0px !important;
}


.alert-info {
  background-color: #d9edf7;
  color: #333;
}

.alert-success {
  background-color: #dff0d8;
  color: #333;
}

.bs-callout-warning {
	border-left-color: #aa6708;
}

.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
  border-left-color: $crimson;
	border-radius: 3px;
}

.dropdown-item {
  color: #636e72;
}
