/*-- scss:defaults --*/
$crimson: #A51C30;
$blue: #4e88c7;

$primary: $blue !default;

/*-- scss:rules --*/
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  vertical-align: top;
  padding: 0px;
}
th, td {
  background-color: #96D4D4;
} 

.small_body_table tbody {
  font-size: 9pt;
}

.small_body_table table, td, th {
  padding-top: 0px !important;
}


